*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url("/static/image/background.jpg");
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
.navbar{
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 240px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position:relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%
}
.content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

button{
    width: 300px;
    padding: 5px 30px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 50px;
    font-weight: 300px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 25px;
    font-weight: 400;

}
.text-box h1{
    font-size: 50px;
    line-height: 30px;
    margin-left: -10px;
    color: #fff;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 15px;
    font-weight: 400;


}
