{% extends 'base.html' %}
{% load static %}

{% block title %}
Academics Classes | GroWorthylife
{% endblock title %}

{% block stylesheet_linking %}
<link rel="stylesheet" href="{% static 'css/Academics-class.css' %}">
{% endblock stylesheet_linking %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="navbar">
        <img src="{% static 'image/logomain.png' %}" class="logo">
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'avatar' %}">AVATAR</a></li>
            <li><a href="{% url 'quiz' %}">Quiz</a></li>
            <li><a href="{% url 'help' %}">Help & Support</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>WELCOME TO GROWORTHYLIFE</h1>
        <p>Be productive & build yourself</p>
        <br>
        <p>In groWorthylife the users can optimise their level of learning with concentration <br> and the gaming
            ecosystem will create an enthralling atmosphere.</p>
        <div>
    <div class="menu-bar">
        <ul>
            <select name="std">
                <option value="class" selected>Class</option>
                {% for i in classes %}
                <option value="{{ i.std | safe }}">{{ i.std | safe }}</option>
                {% endfor %}
            </select>
            <button type="submit">Next</button>
</form>
</ul>
</div>
{% endblock content %}