<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- responsive tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- title tag -->
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <!-- favicon/logo -->
    <link rel="icon" href="{% static 'image/favicon.jpeg' %}" sizes="32x32" type="image/png">
    <!-- SEO tags -->
    <meta name="description" content="Groworthylife">
    <meta name="author" content="Atharva Parkhe">
    <meta name="keywords" content="Groworthylife, Grow, Worthy, Life">
    <meta property="og:title" content="Groworthylife" />
    <meta property="og:type" content="Game" />
    <meta property="og:url" content="https://blueskript.com" />
    <meta property="og:image" content="{% static 'image/logomain.png' %}" />
    <!-- Link Stylesheet -->
    {% block stylesheet_linking %}
    {% endblock stylesheet_linking %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
        <!-- Message -->
    {% if messages %}
        {% for msg in messages %}
            <div class="modalView" id="modalView">
                <div id="modalView__closeBtn"></div>
                <div class="modalView__content centered">
                  <h3>{{msg}}</h3>
                </div>
              </div>
        {% endfor %}
    {% endif %}
        <!-- Content -->
    {% block content %}
    {% endblock content %}
    <script>
        const modalView = document.getElementById("modalView");
        const closeBtn = document.getElementById("modalView__closeBtn");

        closeBtn.addEventListener("click", () => {
            modalView.style.display = "none";
        });
    </script>
</body>
</html>
