{% extends 'base.html' %}
{% load static %}

{% block title %}
Help and Support | GroWorthylife
{% endblock title %}

{% block stylesheet_linking %}
<link rel="stylesheet" href="{% static 'css/forgot-password.css' %}">
{% endblock stylesheet_linking %}

{% block content %}
<div class="navbar">
  <img src="{% static 'image/logomain.png' %}" class="logo">
  <ul>
    <li><a href="{% url 'home' %}">HOME</a></li>
    <li><a href="{% url 'avatar' %}">AVATAR</a></li>
    <li><a href="{% url 'quiz' %}">Quiz</a></li>
    <li><a href="{% url 'help' %}">Help & Support</a></li>
    <li><a href="{% url 'logout' %}">Log Out</a></li>
  </ul>
</div>
<div class="content">
  <h1>LOOKS LIKE SOME TROUBLE</h1>
                <p><b>No Worries we are here to fix your every problem</b></p>
                <br>
                <!-- <p><b>SELECT YOUR CLASS</b></p> -->
  <div class="main-block">
    <div class="left-part">
      <i class="fas fa-graduation-cap"></i>
      <h1>Forgot Your Password?</h1>
      
      <p>No issues, now you can reset it through your email</p>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="title">
        <i class="fas fa-pencil-alt"></i>
        <h2>Enter your Email</h2>
      </div>
      <div class="info">
        <input type="email" name="email" placeholder="Email">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  {% endblock content %}