<!DOCTYPE html>
<html>
  <head>
    <title>Log in-Groworthylife</title>
    <link rel="shortcut icon" href="Images/favicon.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="reset-password.css">
    
   

  </head>
  <body>
    <div class="navbar">
      <img src="Images/logomain.png" class="logo">
      <ul>
        <li><a href="{% url 'home' %}">HOME</a></li>
        <li><a href="{% url 'avatar' %}">AVATAR</a></li>
        <li><a href="{% url 'quiz' %}">Quiz</a></li>
        <li><a href="{% url 'help' %}">Help & Support</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
    </ul>
      </div>
      <div class="content">
        <h1>RESET YOUR PASSWORD</h1>
        <!-- <p></p> -->
        <br>
      
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>Forgot Your Password?</h1>
        <p>No worries We are here to assist you</p>

        
        <!-- <div class="btn-group">
          <a class="btn-item" href="registration.html">Register here</a>
          <a class="btn-item" href="Welcome.html">Welcome Page</a>
        </div> -->
      </div>
      <form action="/">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>NEW PASSWORD</h2>
        </div>
        <div class="info">
          
          <input type="password" name="name" placeholder="New Password ">
          
          <!-- <input type="password" name="name" placeholder="confirm"> -->
          
        </div>
       
        <button type="submit" href="/">RESET</button>
      </form>
    </div>
  </body>
</html>